* {
  box-sizing: border-box; }

.outline-a1 {
  border: 6px solid #96e1d9; }

.outline-a2 {
  border: 6px solid #6eabb0; }

.outline-a3 {
  border: 6px solid #4a8388; }

.outline-a1 h1, .outline-a1 h2, .outline-a1 h3, .outline-a1 h4, .outline-a1 h5, .outline-a1 h6, .outline-a2 h1, .outline-a2 h2, .outline-a2 h3, .outline-a2 h4, .outline-a2 h5, .outline-a2 h6, .outline-a3 h1, .outline-a3 h2, .outline-a3 h3, .outline-a3 h4, .outline-a3 h5, .outline-a3 h6 {
  font-weight: normal; }

.status-icon {
  line-height: 1em;
  position: relative;
  top: 8px;
  padding: 4px;
  margin: 4px; }

.icon-color-orange {
  fill: #ff8e3a !important;
  stroke: #ff8e3a !important; }

.update-table th {
  font-weight: 600 !important;
  overflow: visible; }

.update-table-id {
  font-weight: 600;
  padding: 0 !important; }
  .update-table-id div {
    padding: 11px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.update-table-before {
  padding: 0 !important; }
  .update-table-before div {
    color: #ff7b6b;
    padding: 11px 12px;
    margin-left: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.update-table-after {
  padding: 0 !important; }
  .update-table-after div {
    color: #9FC83F;
    padding: 11px 12px;
    margin-right: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

#debug-results {
  width: 100%; }

#rowUniqueIdDisplayed > span, #ignoreFieldsDisplayed > span {
  line-height: 1.1875rem; }

.grommetux-table th {
  font-weight: 600; }

.expand-all-toggle {
  font-size: 15px !important; }
  .expand-all-toggle span:first-child {
    padding-right: 6px; }
  .expand-all-toggle span svg {
    height: 15px;
    width: 15px;
    vertical-align: middle !important; }

.result-set-heading {
  letter-spacing: .04167em; }
  .result-set-heading svg {
    margin-right: 15px; }
