* {
  box-sizing: border-box; }

.outline-a1 {
  border: 6px solid #96e1d9; }

.outline-a2 {
  border: 6px solid #6eabb0; }

.outline-a3 {
  border: 6px solid #4a8388; }

.status-icon {
  line-height: 1em;
  position: relative;
  top: 6px;
  padding: 2px;
  margin: 4px; }

.icon-color-orange {
  fill: #ff8e3a !important;
  stroke: #ff8e3a !important; }

.update-table th {
  font-weight: 600 !important;
  overflow: visible; }

.update-table-id {
  font-weight: 600;
  padding: 0 !important; }
  .update-table-id div {
    padding: 11px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.update-table-before {
  padding: 0 !important; }
  .update-table-before div {
    color: #ff7b6b;
    padding: 11px 12px;
    margin-left: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.update-table-after {
  padding: 0 !important; }
  .update-table-after div {
    color: #9FC83F;
    padding: 11px 12px;
    margin-right: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

#debug-results {
  width: 100%; }

#rowUniqueIdDisplayed > span, #ignoreFieldsDisplayed > span {
  line-height: 1.1875rem; }

.grommetux-table th {
  font-weight: 600; }
