* {
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-panelSplit {
  height: 3px;
  background: #CCC;
  cursor: ns-resize;
  position: relative;
  overflow: hidden;
}

.App-panelDetails {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}


.outline-a1 {
  border: 6px solid #2ad2c9;
}

.outline-a2 {
  border: 6px solid #614767;
}


.outline-a1 h1,
.outline-a1 h2,
.outline-a1 h3,
.outline-a1 h4,
.outline-a1 h5,
.outline-a1 h6,
.outline-a2 h1,
.outline-a2 h2,
.outline-a2 h3,
.outline-a2 h4,
.outline-a2 h5,
.outline-a2 h6 {
  color: #425563;
}
