// TODO: organize this crap!!!!!!!!!!!!!!!
//
@import "./styles/flexboxgrid";

* {
  box-sizing: border-box;
}

.wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

$color-status-alert: #ff5641;
$color-status-orange: #ff8e3a;
$color-status-warning: #ffce26;
$color-status-ok: #8cc800;
$color-neutral-1: #806475;
$color-neutral-1-dark: #3b2c35;
$color-neutral-1-darker: #32292f;
$color-neutral-1-darkest: #2a1f2d;
$color-neutral-2: #705d55;
$color-neutral-3: #5b6c5d;
$color-light: #f0f7f4;
$color-accent: #6eabb0;
$color-accent-light: #96e1d9;


.outline-a1 {
  border: 6px solid $color-accent-light;
}

.outline-a2 {
  border: 6px solid $color-accent;
}

.outline-a3 {
  border: 6px solid darken($color-accent, 15%);
}

.outline-a1, .outline-a2, .outline-a3 {
  padding: 20px;
  margin: 20px 0;
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
}

.status-icon {
  line-height: 1em;
  position: relative;
  top: 8px;
  padding: 4px;
  margin: 4px;
}

.icon-color {
  &-orange {
    fill: $color-status-orange !important;
    stroke: $color-status-orange !important;
  }
  // &-neutral-1 {
  //   fill:
  // }
}

.update-table {
  th {
    font-weight: 600 !important;
    overflow: visible;
  }

  &-id {
    font-weight: 600;
    padding: 0 !important;
    div {
      padding: 11px 12px;
      border-bottom: 1px solid rgba(0,0,0,.15);
    }
  }

  &-before {
    padding: 0 !important;
    div {
      color: #ff7b6b;
      padding: 11px 12px;
      margin-left: 5px;
      border-bottom: 1px solid rgba(0,0,0,.15);
    }
  }
  &-after {
    padding: 0 !important;
    div {
      color: #9FC83F;
      padding: 11px 12px;
      margin-right: 5px;
      border-bottom: 1px solid rgba(0,0,0,.15);
    }
  }
}

#debug-results {
  width: 100%;
}

#rowUniqueIdDisplayed, #ignoreFieldsDisplayed {
  > span {
    line-height: 1.1875rem;
  }
}

.grommetux-table th {
  font-weight: 600;
}

.expand-all-toggle {
  font-size: 15px !important;
  span:first-child {
    padding-right: 6px;
  }
  span svg {
    height: 15px;
    width: 15px;
    vertical-align: middle !important;
  }
}

.result-set-heading {
  letter-spacing: .04167em;
  svg {
    margin-right: 15px;
  }
}

.divider {
  border-top: 1px solid rgba(0,0,0,.15);
  margin-top: 2em;
}

.dropzone {
  border: 2px dashed rgb(102, 102, 102);
  border-radius: 5px;
  height: 98px;
  width: 96px;
  margin: 30px;
  &.open {
    cursor: pointer;
    div {
      text-align: center;
      top: 33%;
      position: relative;
      line-height: 1em;
      font-size: 15px;
    }
  }
}

.file-name {
  word-wrap: break-word;
}

.options:not(.active), .results:not(.active) {
  opacity: .4;
}

button.disabled {
  cursor: default;
}
